@charset "UTF-8";
/* CSS Document */

#results {
	width: 940px;
	vertical-align: middle;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #000;
	padding: 5px 0;
}

#resultnum {
	width: 50px;
	float:left;
}

#searchalbum {
	width: 200px;
	float:left;
}

#type {
	width: 200px;
	float:left;
}

#info {
	width: 340px;
	float:left;
}

#songName {
	width: 340px;
}

#artistName {
	width: 340px;
}

#explicit {
	width: 75px;
	float:left;
}

#length {
	width: 75px;
	float:left;
}
