@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", "Arial Rounded MT Bold", Arial;
	font-size: large;
}

a:link    {color:#266FB1;}
a:visited {color:#266FB1;}
a:hover   {color:#266FB1;}
a:active  {color:#266FB1;}

.align-right { float:right; margin: 0 0 15px 15px; }

#header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#header-container {
	height: 240px;
	background-color: #CCC;
}

#header {
	width: 940px;
	margin: 0 auto;
	padding: 10px 0;
	position: relative;
}

#container {
	width: 940px;
	margin: 0 auto;
	font-size: 1.4em;
	overflow: auto;
	padding: 240px 0 10px;
}

#content {
	float: left;
	width: 940px;
}


#footer-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

#footer-container {
	height: 40px;
	background-color:#FFF;
}

#footer {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

#right {
	float:right;
	text-align:right;
}

#center {
	float:left;
}

#left {
	width: 200px;
	float:left;
}

#userID {
	padding: 5px;
}

#playing {
	text-align: center;
}

.container {
	left:50%;
	top:50%;
	margin: 0 auto;
	overflow: auto;
	padding: 150px 0 10px;
}