@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
}


#header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#header-container {
	height: 200px;
	background-color:#FFF;
}

#header {
	width: 940px;
	margin: 0 auto;
	padding: 10px 0;
	position: relative;
}

#container {
	width: 940px;
	margin: 0 auto;
	font-size: 1.4em;
	overflow: auto;
	padding: 200px 0 40px;
}

#content {
	float: left;
	width: 940px;
}


#footer-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

#footer-container {
	height: 40px;
	background-color:#FFF;
}

#footer {
	width: 940px;
	margin: 0 auto;
	position: relative;
}


.playerButtons {
	vertical-align: top;
}
